* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-image: url('../assets/barbie2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*cabecalho oq faco*/

.conteiner-cabecalho-oqfaco {

    background-color: #bf496a;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    height: 40%;
    max-height: 40%;
    width:40%;
    max-width: 60%;
    margin: 5rem auto;
    background: linear-gradient(135deg, #bf496a, #6f0d52);
    display: flex; /* Ativa o layout flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    padding: 300px;
    
}

.div-btn{

    position: absolute; /* Ou use 'fixed' se quiser que fique fixo na tela ao rolar a página */
    top: 40px; /* Distância do topo */
    left: 20px; /* Distância da esquerda */
}


/*cabecalho index*/
.conteiner-cabecalho {
    text-align: center;
    padding: 1rem;
    background-color: #bf496a;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    max-width: 90%;
    width: 100%;
    margin: 1rem auto;
    background: linear-gradient(135deg, #bf496a, #6f0d52);
}


.conteiner-cabecalho h3 {
    font-weight: 600;
    font-size: 1.8rem;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
}

.span-novo {
    color: #FFD700;
    text-shadow: #07250a;
}

.conteiner-navegacao {
    text-align: center;
    padding: 1rem;
    background-color: #000000;
}

.conteiner-navegacao a {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    text-decoration: none;
    color: #f5b9f5;
}

.conteiner-navegacao a:hover {
    color: greenyellow;
}

.conteiner-quem-somos {
    background: linear-gradient(135deg, #ddb1c2, #bf496a);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 4px 15px rgba(0, 0, 0, 0.15);
    max-width: 40%;
    width: 80%;
    max-height: 90%;
    height: 100%;
    margin: 2rem auto;
    color: #05192a;
    font-size: 1rem;
    font-weight: 500;
}

.container-div-estruturas {
    display: flex; /* Ativa o flexbox */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha se não couberem */
    gap: 0.2rem; /* Espaçamento entre os itens */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

.box-wrapper {
    flex: 1 1 calc(50% - 1rem); /* Cada item ocupa 25% do espaço, menos o gap */
    max-width: calc(80% - 1rem); /* Limita o tamanho máximo para evitar distorção */
    max-height: calc(90% - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.container-div-estruturas .box-wrapper h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container-servicos-contatos {
    background: linear-gradient(135deg, #bf496a, #6f0d52);
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.25), 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    margin: 2rem auto;
    max-width: 90%;
}

.container-servicos-contatos p{

    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;


}

.container-servicos-contatos .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.botoes a {
    display: block;
    width: 100%;
    max-width: 300px;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #5e1074;
    color: white;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 1rem;
}

.botoes a:hover {
    background-color: white;
    color: black;
}

.container-servicos-contatos h1 {
    font-size: 2rem;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-top: auto;
    width: 100%;
}

.container-fotos-karol{
    position: relative;
    width: 250px;
    height: 300px;
    background: #2b2a2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fotos-oqfaco{

    position: relative;
    width: 450px;
    height: 650px;
    background: #2b2a2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;

}

.container-fotos-juntos {
    position: relative;
    background: #2b2a2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;

}

.image-container img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

.btn-right {
    right: 10px;
}

.btn-left {
    left: 10px;
}

.btn-back{
    left: 10px;



}


.container-section-final {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    background-image: url('Page_karol/assets/barbie.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}

.container-section-final h2 {
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
}

@media (max-width: 768px) {

    .box-wrapper {
        flex: 1 1 calc(50% - 1rem); /* Em telas menores, cada item ocupa 50% */
        max-width: calc(50% - 1rem);
    }
    .conteiner-cabecalho h3 {
        font-size: 1.2rem;
    }

    .conteiner-navegacao a {
        font-size: 1.2rem;
    }

    .container-servicos-contatos {
        padding: 1rem;
    }

    .container-servicos-contatos h1 {
        font-size: 1.5rem;
    }

    .botoes a {
        font-size: 1rem;
    }

    .container-fotos-karol, .container-fotos-juntos {
        height: 150px;
    }
}

@media (max-width: 480px) {
    .box-wrapper {
        flex: 1 1 100%; /* Em telas muito pequenas, cada item ocupa 100% */
        max-width: 100%;
    }
}


.social-box {
    background: linear-gradient(135deg, #ddb1c2, #bf496a);
    width: 60%;
    max-width: 500px; /* Evita que fique muito grande em telas largas */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

    /* CENTRALIZAÇÃO PERFEITA */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Flexbox para alinhar o conteúdo */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Estiliza os itens */
.social-item {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 10px;
    font-size: 30px;
    margin: 10px 0;
    color: #333;
}

/* Estiliza os ícones */
.social-item i {
    font-size: 24px;
    color: #000000; /* Cor dos ícones */
}

@font-face {
    font-family: Barrio;
    src: url(../fonts/Barrio-Regular.ttf)
  }

.social-item a{

    font-family: Barrio;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    text-decoration: none;
    color: #362136;

}

.social-item a:hover{

    color: #e8f742;


}